.gwt-Button:focus {
	outline: 1px dotted transparent !important;
	box-shadow: 0 0 15px #368ff7 !important;
	border: 1px solid #368ff7 !important;
}

input.gwt-DateBox:focus {
	outline: 1px dotted transparent !important;
}

input.gwt-TextBox:focus {
	outline: 1px dotted transparent !important;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px #368ff7 !important;
	padding: 3px 0px 3px 3px !important;
	margin: 5px 1px 3px 0px !important;
	border: 1px solid #368ff7 !important;
}

body, table td, select, button {
	font-size: 13px !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande",
		sans-serif !important;
}

.dialogBottomRightInner {
	box-shadow: 10px 10px 5px gray !important;
	background: #007fcf !important;
	border-bottom-right-radius: 50px !important;
}

.dialogBottomLeftInner {
	box-shadow: 10px 10px 5px gray !important;
	background: #007fcf !important;
	border-bottom-left-radius: 50px !important;
}

.gwt-DialogBox .Caption {
	color: white;
	box-shadow: 10px 10px 5px gray !important;
	background: #0e81cc !important;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	border-top: 0px solid #D2D2D2 !important;
}

.gwt-DialogBox .dialogBottomCenter {
	box-shadow: 10px 10px 5px gray !important;
	background: #007fcf !important;
}

.gwt-DialogBox .dialogTopLeft {
	box-shadow: 10px 10px 5px gray !important;
	background: #0e81cc !important;
	border-top-left-radius: 50px !important;
}

td.dialogMiddleLeft {
	box-shadow: 10px 10px 5px gray !important;
	background: #0e81cc !important;
}

.gwt-DialogBox .dialogTopRight {
	box-shadow: 10px 10px 5px gray !important;
	background: #0e81cc !important;
	border-top-right-radius: 50px !important;
}

.gwt-DialogBox .dialogMiddleRight {
	box-shadow: 10px 10px 5px gray !important;
	background: #0e81cc !important;
}

.dialogMiddleCenterInner table tbody tr td .gwt-Label {
	margin-top: 3%;
}

.dialogMiddleCenterInner table tbody tr td .gwt-Button {
	margin-left: 34% !important;
	margin-top: 5% !important;
	margin-bottom: 2% !important;
}

td .gwt-Button {
	align-items: center !important;
	margin-top: 1% !important;
}

div.container {
	display: inline-block;
	color: #0c940c !important;
}

img {
	padding: 2px;
	box-shadow: 4px 5px 4px rgba(72, 153, 199, 0.48);
	border: #4aa1d4 solid 2px;
	border-radius: 20px;
}

.gwt-ListBox {
	border: #8ca1ed solid 1px;
	background: #f3f9ff !important;
}

.gwt-DateBox {
	background: #f3f9ff !important;
	padding: 5px 4px;
	border: 1px solid #7b95e8 !important;
	border-top: 1px solid #7b94de !important;
	font-size: 100%;
	border-radius: 50px !important;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
	background: #fffff1 !important;
	padding: 0px 4px 2px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #ffecbb !important;
}

.gwt-DatePicker {
	border: 1px solid #50d600 !important;
	border-top: 1px solid #0fbf00 !important;
	cursor: default;
}

td#gwt-uid-1:hover, td#gwt-uid-2:hover, td#gwt-uid-3:hover, td#gwt-uid-4:hover,
	td#gwt-uid-6:hover, td#gwt-uid-7:hover, td#gwt-uid-8:hover, td#gwt-uid-9:hover
	{
	border: greenyellow solid 1px !important;
	background: #00aee7 !important;
	color: white !important;
}

#gwt-uid-5:hover {
	background: #0053c7 !important;
	border: #88e050 solid 1px;
	border-radius: 50px;
	margin-bottom: 10px;
}

.gwt-Button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0
		), color-stop(1, #3d94f6)) !important;
	background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)
		!important;
	background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)
		!important;
	background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%) !important;
	background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%)
		!important;
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%)
		!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0',
		endColorstr='#3d94f6', GradientType=0) !important;
	background-color: #1e62d0 !important;
}

.gwt-Button {
	-moz-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
	-webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
	box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6
		), color-stop(1, #1e62d0)) !important;
	background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)
		!important;
	background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)
		!important;
	background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
	background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%)
		!important;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%)
		!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6',
		endColorstr='#1e62d0', GradientType=0) !important;
	background-color: #3d94f6 !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 20px !important;
	border: 1px solid #337fed !important;
	display: inline-block !important;
	cursor: pointer !important;
	color: #ffffff !important;
	font-family: Arial !important;
	font-size: 15px !important;
	font-weight: bold !important;
	padding: 6px 24px !important;
	text-decoration: none !important;
	text-shadow: 0px 1px 0px #1570cd !important;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	/*padding: 9.5% !important;*/
	background: #00c7eccf !important;
	border-radius: 13px;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 2px 40px 2px 1px;
	background: #fffffffa !important;
	color: black !important;
	font-size: 14px !important;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 5px 10px;
	vertical-align: bottom;
	color: white !important;
	font-weight: normal !important;
	font-size: 14px !important;
	font-weight: normal !important;
}

.gwt-MenuBar-horizontal {
	border-radius: 23px;
	width: 99.8% !important;
	box-shadow: 10px 10px 5px cornflowerblue !important;
	background: #004bc1 !important;
	height: 38px !important;
}

element.style {
	outline: 0px !important;
	width: 120% !important;
	height: 10% !important;
	position: absolute;
	left: 0px;
	top: 0px;
}

.gwt-TextBox {
	padding: 5px 4px;
	border: 1px solid #7c96dc !important;
	border-top: 1px solid #7c97e6 !important;
	font-size: small;
	font-family: Arial Unicode MS, Arial, sans-serif;
	border-radius: 50px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	text-shadow: 4px 4px 2px rgba(109, 151, 179, 0.6);
	margin-top: 30% !important;
	font-size: 2em;
	font-weight: bold;
	color: #1153bd;
	margin: 40px 0px 70px;
	text-align: center;
}

h2 {
	color: #0d0dab;
}

.gwt-Label {
	font-size: 15px;
	color: #1645be;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}